.saveMoreMoney {
  background-color: #EDF0F6;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: auto 0;
}

.text {
  margin: 0.5rem 0 0 0;
  color: #AAAEB6;
  font-size: 0.9rem;
  line-height: 1.4;
}

.button {
  margin-top: 1rem;
  width: 100%;
}