.button {
  background-color: #101010;
  color: #fff;
  padding: 0.75rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #101010;
  font-size: 0.8rem;
  font-weight: 500;
}